{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Bulk Invite Users" %} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
.bulk-invite-form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.bulk-invite-label {
  flex: 1;
  margin-right: -12%;
}
.bulk-invite-field {
  flex: 2;
}
.bulk-invite-help {
  margin-left: 25%;
}
.bulk-invite-center {
  text-align: center;
  margin-bottom: 20px;
}
</style>
{% endblock %}

{% block content %}
  <h1>{% trans "Bulk Invite Users" %}</h1>
  <div id="content-main">
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}

      <div class="module">
        <fieldset class="module aligned">
          {{ form.non_field_errors }}


          <div class="form-row bulk-invite-form-row">
            <div class="bulk-invite-label"><label>{{ form.file.label_tag }}</label></div>
            <div class="bulk-invite-field">{{ form.file }}</div>
          </div>
          <div class="help-text bulk-invite-help">
            {% if form.file.help_text %}
              <p>{{ form.file.help_text }}</p>
            {% endif %}
          </div>
          <hr>


          <div class="form-row bulk-invite-center">
            <p>{% trans "OR" %}</p>
          </div>
          <hr>


          <div class="form-row bulk-invite-form-row">
            <div class="bulk-invite-label"><label>{{ form.emails.label_tag }}</label></div>
            <div class="bulk-invite-field">{{ form.emails }}</div>
          </div>
          <div class="help-text bulk-invite-help">
            {% if form.emails.help_text %}
              <p>{{ form.emails.help_text }}</p>
            {% endif %}
          </div>
          <hr>


          <div class="form-row bulk-invite-form-row">
            <div class="bulk-invite-label"><label>{{ form.group.label_tag }}</label></div>
            <div class="bulk-invite-field">{{ form.group }}</div>
          </div>
          <div class="help-text bulk-invite-help">
            {% if form.group.help_text %}
              <p>{{ form.group.help_text }}</p>
            {% endif %}
          </div>
          <hr>


          <div class="form-row bulk-invite-form-row">
            <div class="bulk-invite-label"><label>{{ form.expiry_date.label_tag }}</label></div>
            <div class="bulk-invite-field">{{ form.expiry_date }}</div>
          </div>
          <div class="help-text bulk-invite-help">
            {% if form.expiry_date.help_text %}
              <p>{{ form.expiry_date.help_text }}</p>
            {% endif %}
          </div>

        </fieldset>
      </div>


      <div class="submit-row">
        <input type="submit" value="{% trans 'Send Invitations' %}" class="default btn btn-primary">
      </div>
    </form>
  </div>
{% endblock %}
