{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block extrahead %}
{{ block.super }}
<h1 class="sr-only">{% trans "User Invitations Management" %} - {% trans "Admin Panel" %}</h1>
{% endblock %}

{% block object-tools %}
  <div class="object-tools">
    {% if has_add_permission %}
      <ul class="object-tools">
        <li>
          <a href="{% url opts|admin_urlname:'add' %}" class="addlink">
            {% trans 'Add invitation' %}
          </a>
        </li>
        <li>
          <a href="{{ bulk_invite_url }}" class="addlink">
            {% trans 'Bulk Invite' %}
          </a>
        </li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
