{% extends 'base.html' %}
{% load i18n static %}

{% block head_title %}{{ document.name }}{% endblock %}

{% block meta_description %}{% trans "Document dashboard for" %} {{ document.name }} - {% trans "Transcription, segmentation, and export tools for manuscript images" %}{% endblock %}

{% block body %}
    {% if not request.user.legacy_mode %}
    <h1 class="sr-only">{% trans "Document Dashboard:" %} {{ document.name }}</h1>
    <div id="document-dashboard">
        <document-dashboard
            :id={{ document_id }}
            :search-disabled="{% if DISABLE_ELASTICSEARCH %}true{% else %}false{% endif %}"
            :markdown-enabled="{% if EXPORT_OPENITI_MARKDOWN_ENABLED %}true{% else %}false{% endif %}"
            :tei-enabled="{% if EXPORT_TEI_XML_ENABLED %}true{% else %}false{% endif %}"
        ></document-dashboard>
    </div>
    {% else %}
        {% translate "This page is not available in legacy mode. Visit your user settings to disable legacy mode." %}
    {% endif %}
{% endblock %}

{% block extrascript %}
    {% if not request.user.legacy_mode %}
        <!-- Load Hebrew translations BEFORE Vue app -->
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'he' %}
        <script src="{% static 'editor_translations_he.js' %}?v={{ STATIC_VERSION }}"></script>
        {% elif LANGUAGE_CODE == 'fr' %}
        <script src="{% static 'editor_translations_fr.js' %}?v={{ STATIC_VERSION }}"></script>
        {% endif %}
        
        <script src="{% static 'documentDashboard.js' %}?v={{ STATIC_VERSION }}"></script>
    {% endif %}
{% endblock extrascript %}


{% if not request.user.legacy_mode %}
    {# hide legacy UI alerts #}
    {% block legacy_alerts %}
    {% endblock %}
{% endif %}

{% block extrastyle %}
    {% if not request.user.legacy_mode %}
        <link href="{% static 'documentDashboard.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet" type="text/css">
    {% endif %}
{% endblock extrastyle %}
